.sidebar {
  width: 150px;
  background-color: #FFF1E5;
  padding: 20px;
  height: 95vh;
  position: relative;
  overflow-y: auto;
}

.sidebar h2 {
  margin: 0 0 20px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar .nested-item {
  padding-left: 10px;
}

.sidebar-logo {
  position: absolute;
  bottom: 60%; /* Adjust to position the logo above the form */
  left: 50%;
  transform: translateX(-50%);
  width: 150px; /* Adjust to fit the design */
  height: 150px; /* Adjust to fit the design */
  z-index: 2; /* Ensure it's above other content */
}

.speech-bubble {
  position: absolute;
  bottom: 80%; /* Position it above the logo */
  left: 50%;
  width: 140px;
  height: 50px;
  transform: translateX(-50%);
  background: #FF5C92;
  border: none;
  border-radius: 5px;
  padding: 0; /* Remove padding if necessary */
  text-align: center;
  font-size: 14px;
  z-index: 3; /* Ensure it appears above the logo and input fields */
  font-weight: bold;
  color: white;
  /* Flexbox to center text vertically and horizontally */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}


.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Adjust based on padding and border-radius */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #FF5C92 transparent transparent transparent;
}

.sidebar-form {
  margin-top: 250px; /* Space above the form to fit with logo and bubble */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%; /* Full width to match the form-group width */
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.form-group select {
  height: 38px; /* Adjust height to match input height */
}
